.processes-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xs);
}

@media (min-width: 768px) {
  .processes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .processes-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
